<header>
    <div class="header_container">
        <a href="/"
            ><div class="title"><h1>Julio's Blog</h1></div></a
        >
        <div class="add_blog">
            <a href="./addblog"><h2>Add Blog</h2></a>
        </div>
    </div>
</header>
