.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-color: #393e46;
}

h1 {
    margin: 30px;
    font-family: "Lobster", cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ecca3;
}

p {
    font-size: 2rem;
    color: #4ecca3;
    font-family: "Indie Flower", cursive;
}

img {
    width: 80%;
}

.roll-dice-button {
    background-color: #4ecca3;
    color: #393e46;
    font-family: "Lobster", cursive;
    font-size: 2rem;
    font-weight: bold;
    padding: 5px 10px;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 4px 2px #232931;
}

.spinAnimation {
    animation: roll 0.2s linear 0s 4 none;
}

@keyframes roll {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

footer {
    margin-top: 5%;
    color: #eeeeee;
    text-align: center;
    font-family: "Indie Flower", cursive;
}
