<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Weekend Warrior</title>
    </head>
    <body>
        <% if (date < 5) { %>
        <h1>Hey! It's a weekday, it's time to work hard!</h1>
        <% } else { %>
        <h1>Hey! It's the weekend, it's time to have fun!</h1>
        <% } %>
    </body>
</html>
